@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("normalize.css");

body {
  font-family: "Lato", sans-serif;
}

/* Small screens (default) */
html {
  font-size: 100%;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html {
    font-size: 112%;
  }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}

/* carousel */
.heroCarousel {
  width: auto;
  position: relative;
  display: block;
  height: 100vh;
}

.slick-track {
  height: 100vh;
}

.caroseulImage {
  height: auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100%;
  width: 100%;
}

.slick-next,
.slick-prev {
  bottom: 140px;
  right: 50px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
