@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("normalize.css");

body {
  font-family: "Lato", sans-serif;
}
/* Small screens (default) */
html {
  font-size: 100%;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html {
    font-size: 112%;
  }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}

/* carousel */
.heroCarousel {
  width: auto;
  position: relative;
  display: block;
  height: 100vh;
}

.slick-track {
  height: 84vh;
}

.carouselImage {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.btnContainer button svg {
  width: 10px;
  height: 10px;
}
.slick-next,
.slick-prev {
  bottom: 140px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
  z-index: 1;
  width: 27px;
  height: 23px;
  padding: 6px 9px;
  background: hsla(0, 0%, 100%, 0.2);
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
}
.slick-next:hover,
.slick-prev:hover {
  background: hsla(0, 0%, 100%, 0.5);
}

.slick-next {
  right: 38px;
}

.slick-prev {
  right: 72px;
}

.heroCarousel .carouselImage .mask {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.heroCarousel .carouselImage .heroCarouselTopShadowMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
  z-index: -1;
}
.heroCarousel .carouselImage .heroCarouselBottomShadowMask {
  position: absolute;
  top: 560px;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.58));
  z-index: -1;
}
.heroCarousel .carouselImage .heroCarouselLeftShadowMask {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 810px;
  background-image: linear-gradient(
    270deg,
    transparent,
    transparent,
    rgba(0, 0, 0, 0.58)
  );
  z-index: -1;
}
.heroCarousel .carouselImage .mask .contentContainer {
  width: 100%;
  height: 100%;
  padding: 120px 60px 60px;
  color: #fff;
  font-size: 20px;

  text-align: left;
  cursor: pointer;
}

.heroCarousel .carouselImage .mask .contentContainer .contentDetailsWrapper {
  width: 100%;
  max-width: 800px;
}

.heroCarousel .carouselImage .mask .contentContainer p.category {
  font-size: 24px;
  margin-bottom: 20px;
  cursor: default;
  text-transform: uppercase;
  text-align: left;
}
.heroCarousel .carouselImage .mask .contentContainer p.nameOfMovie {
  max-width: 100%;
  font-size: 64px;
  text-align: left;
  margin-bottom: 30px;
  line-height: normal;
  cursor: pointer;
}

/* contentHeader */

.navigation {
  background: linear-gradient(
    180deg,
    #0b0d11 0,
    rgba(11, 13, 17, 0.7) 25%,
    rgba(11, 13, 17, 0.5) 50%,
    rgba(11, 13, 17, 0.3) 75%,
    rgba(11, 13, 17, 0)
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  height: 60px;
  padding: 0 21px;
}
.navigation img.hboLogo {
  width: 108px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
  margin-right: 60px;
}

.contentHeaderMenu {
  font-size: 18px;
  color: #ddd;
  position: relative;
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .navigation .contentHeaderMenu .navElement {
    font-size: 14px;
  }
}
.navigation .contentHeaderMenu ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 17px;
}
.navigation .contentHeaderMenu ul li:first-child {
  margin-left: 0;
}

.navigation .contentHeaderMenu ul li {
  display: -webkit-flex;
  display: flex;
  margin: auto 10px;
}
.navigation .contentHeaderMenu .navElement {
  font-family: Roboto-Regular, sans-serif;
  font-size: 18px;
  color: #ddd;
  cursor: pointer;
}
.navigation svg.element.search,
.navigation svg.element.watchList {
  height: 16px;
  width: 18px;
}
.navigation .element {
  margin: auto 12px;
}
.navigation .element.register {
  color: #ddd;
  font-family: Roboto-Bold, sans-serif;
  font-size: 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  align-self: center;
  cursor: pointer;
}

.navigation .element.login {
  height: 46px;
  width: auto;
  font-family: Roboto-Bold, sans-serif;
  font-size: 18px;
  line-height: 0;
  padding: 0 35px;
}
button.btn.btnLightBlue {
  color: #fff;
  border: none;
  background-color: #009dff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.cursorPointer {
  cursor: pointer;
}
